/* Estilo para el botón circular */
.btn-circle {
    display: inline-flex; /* Hace que el botón sea flexible */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    width: 22px; /* Tamaño más pequeño del botón */
    height: 22px; /* Tamaño más pequeño del botón */
    background-color: red; /* Color de fondo del botón */
    color: white; /* Color del ícono */
    border-radius: 50%; /* Hace el botón circular */
    text-align: center; /* Centra el texto dentro del botón */
    border: none; /* Sin borde */
    font-size: 9px; /* Tamaño del ícono más pequeño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    cursor: pointer; /* Cambia el cursor a mano cuando pasa sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Efectos de transición */
}

/* Efecto al pasar el ratón sobre el botón */
.btn-circle:hover {
    background-color: darkred; /* Cambia el color de fondo cuando el ratón pasa por encima */
    transform: scale(1.1); /* Aumenta el tamaño del botón ligeramente */
}

/* Asegura que el ícono esté centrado dentro del botón */
.btn-circle i {
    margin: 0;
}
/* Azul */
.bg-btn-blue {
    background-color: #007bff;
    color: white;
}

.bg-btn-blue:hover {
    background-color: #0056b3;
}

/* Azul Claro */
.bg-btn-lightblue {
    background-color: #66b3ff;
    color: white;
}

.bg-btn-lightblue:hover {
    background-color: #3399ff;
}

/* Verde */
.bg-btn-green {
    background-color: #28a745;
    color: white;
}

.bg-btn-green:hover {
    background-color: #218838;
}

/* Verde Claro */
.bg-btn-lightgreen {
    background-color: #7ed957;
    color: white;
}

.bg-btn-lightgreen:hover {
    background-color: #56cc2a;
}

/* Naranja */
.bg-btn-orange {
    background-color: #fd7e14;
    color: white;
}

.bg-btn-orange:hover {
    background-color: #e46a12;
}

/* Naranja Claro */
.bg-btn-lightorange {
    background-color: #ffaf7d;
    color: white;
}

.bg-btn-lightorange:hover {
    background-color: #ff8e40;
}

/* Rojo */
.bg-btn-red {
    background-color: #dc3545;
    color: white;
}

.bg-btn-red:hover {
    background-color: #c82333;
}

/* Amarillo */
.bg-btn-yellow {
    background-color: #ffc107;
    color: white;
}

.bg-btn-yellow:hover {
    background-color: #e0a800;
}

/* Gris */
.bg-btn-grey {
    background-color: #6c757d;
    color: white;
}

.bg-btn-grey:hover {
    background-color: #5a6268;
}

/* Negro */
.bg-btn-black {
    background-color: #343a40;
    color: white;
}

.bg-btn-black:hover {
    background-color: #23272b;
}

/* Blanco con borde (para contraste en fondos oscuros) */
.bg-btn-white {
    background-color: white;
    color: #343a40;
    border: 2px solid #343a40;
}

.bg-btn-white:hover {
    background-color: #f8f9fa;
    color: #343a40;
    border-color: #23272b;
}
